Repository kyma-project/runtime-watcher: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-kcp-build, post-main-runtime-watcher-skr-build

Path conditions:
  pre-main-runtime-watcher-skr-lint: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pre-main-runtime-watcher-skr-tests: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pre-main-runtime-watcher-kcp-lint: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pre-main-runtime-watcher-kcp-tests: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pre-main-runtime-watcher-kcp-build: any of: ^kcp/
  pre-main-runtime-watcher-skr-build: any of: ^skr/
  post-main-runtime-watcher-kcp-build: any of: ^kcp/
  post-main-runtime-watcher-skr-build: any of: ^skr/

add missing label to webhook config
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
Due: pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

adjust tests
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_test_helpers_test.go
  skr/internal/helper_test.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

refactor tests
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/test_util/util.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

fix lint issues
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/values.yaml
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/test_util/util.go
  skr/internal/types.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

add validation config for spec changes
  skr/chart/skr-webhook/templates/secret.yaml
Due: pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

update watcher helm chart
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
Due: pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

refactor watcher deploy implementation
  kcp/go.mod
  kcp/go.sum
  kcp/pkg/deploy/assets/repositories.yaml
  kcp/pkg/deploy/assets/sample-chart/templates/secret.yaml
  kcp/pkg/deploy/assets/sample-chart/templates/webhook-config.yaml
  kcp/pkg/deploy/assets/sample-chart/templates/zz-variables.yaml
  kcp/pkg/deploy/assets/sample-chart/values.yaml
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

include webhook config loop in helm chart
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
Due: pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

introduce undeploy skr webhook method
  kcp/pkg/deploy/webhook_config.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

refactor: move watcher event to listener module
  kcp/pkg/types/event.go
  listener/pkg/types/event.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

go mod tidy
  listener/go.mod
  listener/go.sum
Due: none

adjust usage of WatchEvent
  listener/go.mod
  listener/go.sum
  listener/http_test.go
  listener/watcher_event.go
  listener/watcher_event_test.go
Due: none

refactor watcher cr spec
  kcp/api/v1alpha1/watcher_types.go
  kcp/api/v1alpha1/zz_generated.deepcopy.go
  kcp/config/crd/bases/component.kyma-project.io_watchers.yaml
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/util/watcher_util.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

feat: implement resource watch by configured label(s) (#61)
  skr/admissionRequest/mock-request-reference-status.json
  skr/chart/skr-webhook/templates/configmap.yaml
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/templates/rbac.yaml
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
  skr/go.mod
  skr/go.sum
  skr/internal/assets/configmap.yaml
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_test_helpers_test.go
  skr/internal/test_util/util.go
  skr/internal/types.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

fix linting
  kcp/controllers/watcher_controller.go
  kcp/pkg/deploy/webhook_config.go
  skr/go.sum
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-kcp-build, post-main-runtime-watcher-skr-build

fix linting
  kcp/controllers/watcher_controller.go
  kcp/pkg/deploy/webhook_config_test.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

refactor: move watcher event to listener module (#64)
  kcp/pkg/types/event.go
  listener/go.mod
  listener/go.sum
  listener/http_test.go
  listener/pkg/types/event.go
  listener/watcher_event.go
  listener/watcher_event_test.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

Removed tmp internal types
  skr/go.mod
  skr/go.sum
  skr/internal/handler.go
  skr/internal/handler_test.go
  skr/internal/test_util/util.go
  skr/internal/types.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

Removed tmp internal types (#65)
  skr/go.mod
  skr/go.sum
  skr/internal/handler.go
  skr/internal/handler_test.go
  skr/internal/test_util/util.go
  skr/internal/types.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

refactor after local testing
  .gitignore
  kcp/config/samples/component_v1alpha1_watcher_compass.yaml
  kcp/config/samples/component_v1alpha1_watcher_kyma.yaml
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/deploy/assets/custom-modules-config-sample.yaml
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
  skr/chart/skr-webhook/values.yaml
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-kcp-build, post-main-runtime-watcher-skr-build

fix failing pipelines
  listener/go.sum
  skr/go.mod
  skr/go.sum
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

fix linting issues
  kcp/api/v1alpha1/watcher_types.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

refactor: rename group component.kyma-project.io => operator.kyma-project.io
  examples/sample-WatcherCR.yaml
  kcp/api/v1alpha1/groupversion_info.go
  kcp/config/crd/bases/operator.kyma-project.io_watchers.yaml
  kcp/config/crd/kustomization.yaml
  kcp/config/crd/patches/cainjection_in_watchers.yaml
  kcp/config/crd/patches/webhook_in_watchers.yaml
  kcp/config/rbac/watcher_editor_role.yaml
  kcp/config/rbac/watcher_viewer_role.yaml
  kcp/config/samples/component_v1alpha1_watcher_compass.yaml
  kcp/config/samples/component_v1alpha1_watcher_kyma.yaml
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/pkg/deploy/webhook_config_test.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

refactor: rename component.kyma-project.io => operator.kyma-project.io (#66)
  examples/sample-WatcherCR.yaml
  kcp/api/v1alpha1/groupversion_info.go
  kcp/config/crd/bases/operator.kyma-project.io_watchers.yaml
  kcp/config/crd/kustomization.yaml
  kcp/config/crd/patches/cainjection_in_watchers.yaml
  kcp/config/crd/patches/webhook_in_watchers.yaml
  kcp/config/rbac/watcher_editor_role.yaml
  kcp/config/rbac/watcher_viewer_role.yaml
  kcp/config/samples/component_v1alpha1_watcher_compass.yaml
  kcp/config/samples/component_v1alpha1_watcher_kyma.yaml
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/pkg/deploy/webhook_config_test.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

Set the Owner as NamespacedName
  listener/watcher_event.go
Due: none

use configmap instead of local file
  kcp/controllers/watcher_controller.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
  skr/chart/skr-webhook/templates/secret.yaml
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-kcp-build, post-main-runtime-watcher-skr-build

Fix test
  listener/http_test.go
  listener/watcher_event_test.go
Due: none

Removed duplicate imports
  listener/http_test.go
Due: none

Set the Owner as NamespacedName (#68)
  listener/http_test.go
  listener/watcher_event.go
  listener/watcher_event_test.go
Due: none

prepare make -C kcp deploy
  .gitignore
  kcp/Dockerfile
  kcp/Makefile
  kcp/api/v1alpha1/watcher_types.go
  kcp/api/v1alpha1/zz_generated.deepcopy.go
  kcp/config/manager/kustomization.yaml
  kcp/controllers/watcher_controller.go
  kcp/pkg/deploy/assets/custom-modules-config-sample.yaml
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
  skr/chart/skr-webhook/templates/secret.yaml
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-kcp-build, post-main-runtime-watcher-skr-build

replace finalizer prefix
  kcp/controllers/watcher_controller.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

apply review suggestions
  kcp/api/v1alpha1/watcher_types.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/util/watcher_util.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

change skr chart image tag to latest
  skr/chart/skr-webhook/values.yaml
Due: pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

add condition enum
  kcp/api/v1alpha1/watcher_types.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

fix err img pull on SKR cluster
  skr/chart/skr-webhook/values.yaml
Due: pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

change webhook chart img tag to latest
  skr/chart/skr-webhook/values.yaml
Due: pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

fix rbac resources and update sample CRs
  kcp/config/crd/bases/operator.kyma-project.io_watchers.yaml
  kcp/config/manager/kustomization.yaml
  kcp/config/manager/manager.yaml
  kcp/config/rbac/role.yaml
  kcp/config/samples/component_v1alpha1_watcher_compass.yaml
  kcp/config/samples/component_v1alpha1_watcher_kyma.yaml
  kcp/controllers/watcher_controller.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

fix linting
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

fix long line lint error
  kcp/controllers/watcher_controller.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

remove unneccessary err check
  kcp/pkg/deploy/webhook_config.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build
