Repository kyma-project/runtime-watcher: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-kcp-build, post-main-runtime-watcher-skr-build

pre-main-runtime-watcher-skr-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-runtime-watcher-skr-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20220804-607830f89
      securityContext:
  ...

pre-main-runtime-watcher-skr-tests:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-runtime-watcher-skr-tests
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-runtime-watcher-kcp-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-runtime-watcher-kcp-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20220804-607830f89
      securityContext:
  ...

pre-main-runtime-watcher-kcp-tests:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-runtime-watcher-kcp-tests
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-runtime-watcher-kcp-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-runtime-watcher-kcp-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  ...

pre-main-runtime-watcher-skr-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-runtime-watcher-skr-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  ...

post-main-runtime-watcher-kcp-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-main-runtime-watcher-kcp-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  ...

post-main-runtime-watcher-skr-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-main-runtime-watcher-skr-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  ...

add make resolve for kcp and go mod tidy
  kcp/Makefile
  kcp/go.sum
  skr/go.mod
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-kcp-build, post-main-runtime-watcher-skr-build

increase lint timeout for skr module
  skr/.golangci.yaml
  skr/Makefile
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

remove rendered webhook config
  .gitignore
  kcp/pkg/deploy/assets/sample-chart/templates/webhook-config-rendered.yaml
Due: pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

fix linting errors
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_test_helpers_test.go
  skr/main.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

fix naming errors
  .gitignore
  skr/Makefile
  skr/go.mod
  skr/go.sum
  skr/internal/handler.go
  skr/internal/handler_test.go
  skr/internal/handler_test_helpers_test.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

ignore bin subfolders
  .gitignore
Due: none

make resolve
  kcp/go.sum
  listener/Makefile
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

ignore lint error for test setup
  skr/internal/handler_suite_test.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

remove commented code
  skr/internal/handler.go
  skr/internal/handler_test.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

fix build error
  listener/go.mod
  listener/go.sum
  listener/watcher_event_test.go
Due: none

implement demo findings for watcher ctrl loop and add tests
  kcp/api/v1alpha1/watcher_types.go
  kcp/config/crd/bases/component.kyma-project.io_watchers.yaml
  kcp/controllers/assets/istio.networking.crds.yaml
  kcp/controllers/kyma_controller_test.go
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/util/watcher_util.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

fix failing tests
  kcp/controllers/kyma_controller_test.go
  kcp/controllers/watcher_controller.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

Introduce kyma module list (#52)
  kcp/pkg/types/event.go
  listener/go.mod
  listener/go.sum
  listener/http_test.go
  listener/watcher_event.go
  listener/watcher_event_test.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

fix failing tests II
  kcp/controllers/kyma_controller_test.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

fix linting issues
  kcp/controllers/kyma_controller_test.go
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/util/watcher_util.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

rm go replace from listener go.mod file
  listener/go.mod
  listener/go.sum
Due: none

go get kcp dependency
  listener/go.mod
  listener/go.sum
Due: none

document watcher demo local k3d setup
  docs/Watcher-demo-local-setup.md
  docs/assets/service-mesh-config.yaml
Due: none

reactivated filtering feature
  skr/internal/assets/configmap.yaml
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

ignore sec issue for tests
  skr/internal/handler_suite_test.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

make gvr's optional
  kcp/api/v1alpha1/watcher_types.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

Remove go replace from listener `go.mod` file (#54)
  listener/go.mod
  listener/go.sum
Due: none

refactor: update architecture and README.md
  README.md
  docs/assets/runtime-watcher.drawio.svg
  docs/assets/watcher_workflow_network_arc.svg
Due: none

size adjust
  README.md
Due: none

refactor: update architecture and README.md (#56)
  README.md
  docs/assets/runtime-watcher.drawio.svg
  docs/assets/watcher_workflow_network_arc.svg
Due: none

add dark mode support
  README.md
  docs/assets/runtime-watcher.drawio.svg
Due: none

refactor: Dark mode support for README.md (#57)
  README.md
  docs/assets/runtime-watcher.drawio.svg
Due: none

Remove Kyma Control loop
  kcp/config/crd/bases/component.kyma-project.io_watchers.yaml
  kcp/controllers/kyma_controller.go
  kcp/controllers/kyma_controller_test.go
  kcp/controllers/suite_test.go
  kcp/main.go
  kcp/pkg/types/event.go
  listener/watcher_event.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

Remove Kyma Control loop (#59)
  kcp/config/crd/bases/component.kyma-project.io_watchers.yaml
  kcp/controllers/kyma_controller.go
  kcp/controllers/kyma_controller_test.go
  kcp/controllers/suite_test.go
  kcp/main.go
  kcp/pkg/types/event.go
  listener/watcher_event.go
Due: pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, post-main-runtime-watcher-kcp-build

Upgrade KCP dependency
  listener/go.mod
  listener/go.sum
Due: none

Fix linting issues
  listener/watcher_event_test.go
Due: none

Upgrade KCP dependency (#60)
  listener/go.mod
  listener/go.sum
  listener/watcher_event_test.go
Due: none

fix failing pipelines
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/go.mod
  kcp/go.sum
  listener/go.mod
  listener/go.sum
  skr/go.mod
  skr/go.sum
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-kcp-lint, pre-main-runtime-watcher-kcp-tests, pre-main-runtime-watcher-kcp-build, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-kcp-build, post-main-runtime-watcher-skr-build

introduced helm range into webhook config helm template
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
Due: pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

feat: implement resource watch by configured label(s)
  skr/admissionRequest/mock-request-reference-status.json
  skr/chart/skr-webhook/templates/configmap.yaml
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/templates/rbac.yaml
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
  skr/go.mod
  skr/go.sum
  skr/internal/assets/configmap.yaml
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_test_helpers_test.go
  skr/internal/types.go
Due: pre-main-runtime-watcher-skr-lint, pre-main-runtime-watcher-skr-tests, pre-main-runtime-watcher-skr-build, post-main-runtime-watcher-skr-build

Path conditions:
  pre-main-runtime-watcher-skr-lint: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pre-main-runtime-watcher-skr-tests: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pre-main-runtime-watcher-kcp-lint: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pre-main-runtime-watcher-kcp-tests: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pre-main-runtime-watcher-kcp-build: any of: ^kcp/
  pre-main-runtime-watcher-skr-build: any of: ^skr/
  post-main-runtime-watcher-kcp-build: any of: ^kcp/
  post-main-runtime-watcher-skr-build: any of: ^skr/
